body {
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}


.plot {
    width: 96px;
    height: 96px;
    margin: 8px;
    background-image: url('images/plot.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plot.not {
    width: 96px;
    height: 96px;
    margin: 8px;
    background-image: url('images/not_plot.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plot.carrot_1{
    background-image: url('images/plot_carrot_1.png');
}
.plot.carrot_2{
    background-image: url('images/plot_carrot_2.png');
}
.plot.carrot_3{
    background-image: url('images/plot_carrot_3.png');
}


.plot.cabbage_1{
    background-image: url('images/plot_cabbage_1.png');
}
.plot.cabbage_2{
    background-image: url('images/plot_cabbage_2.png');
}
.plot.cabbage_3{
    background-image: url('images/plot_cabbage_3.png');
}


.plot.tomato_1{
    background-image: url('images/plot_tomato_1.png');
}
.plot.tomato_2{
    background-image: url('images/plot_tomato_2.png');
}
.plot.tomato_3{
    background-image: url('images/plot_tomato_3.png');
}
.plot.tomato_4{
    background-image: url('images/plot_tomato_4.png');
}

#farm-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre los cuadrados */
    position: fixed;
    bottom: 0;
    left: 100px; /* Ajusta esto si quieres que esté centrado o a la derecha */
    z-index: 110;
}

#corral-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    position: fixed;
    bottom: 0;
    left: 100px;
    z-index: 110;
}

.corral {
    position: relative;
    width: 336px;
    height: 336px;
    border-radius: 10px;
    overflow: hidden;
    background-image: url('images/corral.png');
}

.corral.not {
    position: relative;
    width: 336px;
    height: 336px;
    border-radius: 10px;
    overflow: hidden;
    background-image: url('images/corral0.png');
}

.corral.vaca1 {
    background-image: url('images/corral1.png');
}

.corral.vaca2 {
    background-image: url('images/corral2.png');
}

.corral.vaca3 {
    background-image: url('images/corral3.png');
}

.corral.vaca4 {
    background-image: url('images/corral4.png');
}

.hidden {
    display: none;
}


#stats {
    position: fixed;
    top: 10px;
    right: 120px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 8px;
}

#inventory {
    position: fixed;
    top: 100px;
    right: 512px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 8px;
    width: auto;
}

.title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #4caf50, #8bc34a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}